@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color:#222;
}
h4{
    font-size: 20px;
    color:#222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color:#465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;

}
body{
    width: 100%;

}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: grey;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;

}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-icon{
    width: 25px;
    display: inline-block;
    margin: 15px;
}
#navbar li{
    list-style: none;
    padding: 0 25px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.4s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background:#088178;
    position: absolute;
    bottom: -4px;
    left: 20px;

}

#back{
    background-image: url('../img/image5.jpg');
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: top 30%, right 0;
    padding: 0 85px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
@keyframes change {
    0%
    {
        background-image: url(img/image2.webp);
    }
    20%
    {
        background-image: url(img/image4.webp);
    }
    40%
    {
        background-image: url(img/image5.jpg);
    }
    60%
    {
        background-image: url(img/image3.webp);
    }
    80%
    {
        background-image: url(img/image2.webp);
    }
    100%
    {
        background-image: url(img/image1.jpg);
    }
}
#back h4{
    padding-bottom: 20px;

}
#back h1{
    color:aqua;

}
#back button{
    background-color: blue;
    color:yellow;
    border-radius: 15px 15px;
    border: 0;
    padding: 10px 75px 10px 55px


}

#feature{
    padding: 40px 75px;
}

#feature{
    display: flex;

    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 20px 10px;
    box-shadow: 22px 20px 30px rgba(0, 0, 0, 0.06);
    border: 1px solid #088178;
    border-radius: 5px;
    margin: 17px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 225, 0.2);
}
#feature .fe-box img{
    width: 80%;
    margin-bottom: 10px;

}

#feature .fe-box h5{
    display: inline-block;
    padding: 9px 8px 7px 8px;
    line-height: 2;
    border-radius: 5px;
    color: aqua;
    background-color: #fdddfd;
}
#feature .fe-box:nth-child(2) h5{
    background-color: #088178;
}
#feature .fe-box:nth-child(3) h5{
    background-color: #465b52;
}#feature .fe-box:nth-child(4) h5{
    background-color: #E3E6F3;
}#feature .fe-box:nth-child(5) h5{
    background-color: #222;
}#feature .fe-box:nth-child(6) h5{
    background-color: #465b52;
}#feature .fe-box:nth-child(7) h5{
    background-color: #1a1a1a;
}

#product{
    text-align: center;
}
#product .package1{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    flex-wrap: wrap;

}
#product .reception{
     width: 23%;      /* width of the boxes */
    padding: 12px 20px;  /* indented from top and bottom is 12px and from left and right is 15px */
    border: 0.5px solid white;  /* color for the border */
    border-radius: 20px;
    cursor: pointer;      /* when you point at the box, the cursor turns to pointer */
    margin: 15px 0;
    transition: 0.2s ease;  /* the transition to show that you point the box takes 0.2seconds*/
    position: relative;
    box-shadow: 15px 10px 25px rgba(0, 0, 0, 0.2) /* color for the shadow of the box */
    
}
#product .reception:hover{
    box-shadow: 20px 25px 25px rgba(9, 16, 94, 0.06)  /* the shadow turns dark when moved through */
}

#product .reception img{
    width: 100%;
    border-radius: 20px;

}
.reception .image{
    height: 50vh;
}
#product .reception .dress{
    text-align: start;
    padding: 10px 0;
}

#product .reception .dress span{
    color: #088178;
    font-size: 15px;
}
#product .reception .dress h4{
    padding-top: 7px;
    color: #465b52;
    font-size: 20px;
}
#product .reception .dress i{
    font-size: 15px;
    color: yellow;
}
#product .reception .dress h3{
    padding-top: 8px;
    font-size: 20px;
    font-weight: 750;
    color:aquamarine;
}
#product .reception .cart{
    width: 40px;
    height: 35px;
    line-height: 35px;
    border-radius: 45px;
    background-color: #E3E6F3;
    font-weight: 600;
    color:blue;
    border: 2px solid #E3E6F3;
    position: absolute;
    bottom: 25px;
    right: 15px;
}
.down {
    padding: 40px 0;
}
#element{
    display: flex;          /* puts the text in one row */
    flex-direction: column;  /* makes the texts in one row of flex in column form */
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../img/image6.jpg');
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
}
#element h3{
    color: blueviolet;
    font-size: 25px;
}
#element h4{
    color: yellowgreen;
    font-size: 17px; 
    padding: 25px 0;

}
#element h3 span{
    color:red;
    font-style: unset;
}

#element button{
    font-size: 15px;
    font-weight: 700;
    padding: 15px 15px;    /* the button is 15px from top and bottom and 15px from left and right */
    color:#465b52;        /* the col0r of text in button */
    background-color: aqua;  /* the background color of button is aqua */
    border-radius: 20px;
    cursor: pointer;       /* the cursor turns to pointer when cursor points on button */
    border: none;        /* no border around the button */
    outline: none;
    transition: 0.3s;
}
#element button:hover{
    background:#088178;    /* color appears in background when pointer points to the button */
    color: yellowgreen;   /* the text in button turns to yellow when pointer points to button */
   
}

#part3 {
    display: flex;                  
    justify-content: space-between;
    flex-wrap: wrap;             /* prevents the horizontal scroll bar putting the other boxes on next line*/
}

#part3 .section4{
    display: flex;          /* puts the text in one row */
    flex-direction: column;  /* makes the texts in one row of flex in column form */
    justify-content: center;     
    align-items: flex-start;     /* aligns text at the beginning */
    background-image: url(../img/image7.jpg);
    min-width: 520px;               /* this width for the boxes */
    height: 40vh;                  /* the height of the box */
    background-size: cover;
    background-position: center; 
    padding: 25px;           /* puts the text a distance from the left by space of 25px */
}

#part3 .second{
    background-image: url(../img/image6.jpg);
}

#last{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: mediumseagreen;
}

#last .foot1{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
#last .foot2{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
}
#last h3{
    font-size: 15px;

}
#last .logo{
    margin-bottom: 30px;
}

#last p{
    font-size: 14px;
}

#last a{
    text-decoration: none;
    color: #1a1a1a;
}
#last .installation .image{
    border: 1px solid blue;
    border-radius: 5px;
    
}
#last .signs i{
    color: #1a1a1a;
    cursor: pointer;
}
#last .signs i:hover,
#last a:hover{
    color: blue;
}
.box-element{
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}
.product{
    border-radius: 0 0 4px 4px;
}
.watches{
    width: 100%;
    height: 200px;
}
@media screen {
    #prduct .package1{
        
        justify-content: center;
        
    }
}
