body{
	background-color: hsl(240, 37%, 88%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}
   /* Custom styling for dropdown */
.dropdown-toggle::after {
	display: inline-block;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	content: "";
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-bottom: 0;
	border-left: 0.3em solid transparent;
}

.user-profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
    margin-left: 1.5%;
    display: flex;
	left:1200px;
	bottom: 3px;
	position: absolute;

}
.user-profile-resized{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
/* custom styles for small screens */
@media (max-width: 767px) { 
	.user-profile {
		position: static;
		left: 0;
		float: left !important;	

	}
}

.dropdown-item img{
    width: 30px;
	margin-right: 10px;
      
}

#hero {
	
	height: 400px; border-radius: 15px; 
	box-shadow: 0 5px 15px #4f868c;
	position: relative;
	background:#007bff70;
	background-blend-mode: soft-light;
	overflow: hidden;
}
#hero h1{
	color: #ffc107;
	font-size: 60px;
	text-shadow: 0 5px 5px #ffc107;
}
#hero h1:hover{
	color:#379e9b
}
.bg_vid {
	position: absolute;
	z-index: -1;
	min-width: 100%;
	min-height: 100%;	
}


.animated-icon {
    transition: transform 0.3s ease; 
}

.animated-icon:hover {
    transform: rotate(20deg); 
}

.icon-container i {
    color: navy ;
}

.box-element.product {
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: rgb(250, 250, 251); 
    transition: transform 0.2s ease; 
}

/* Hover effect */
.box-element.product:hover {
    transform: scale(1.07);
}


