{% extends 'main.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <style>
        /* Basic styling for the page */
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            background-color: #f1f1f1; /* Light gray background color */
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px; /* Adds space between columns */
        }

        .column {
            flex: 0 0 auto;
            width: calc(33.33% - 40px); /* Adjust width as needed */
            margin: 10px;
            padding: 20px;
            border-radius: 10px; /* Rounded corners */
            
            
        }


        .about-section {
            padding: 50px;
            text-align: center;
            background-color: #5DADE2; /* Light blue background color */
            color: white;
            margin-bottom: 20px; /* Add some space at the bottom */
            border-radius: 20px; /* Rounded corners */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Box shadow for depth */
        }

        .container {
            background-color: #fff; /* White container background */
            border-radius: 20px; /* Rounded corners */
            padding: 20px;
            margin-bottom: 16px; /* Add some space at the bottom */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Box shadow for depth */
        }

        .container p {
            color: #333; /* Dark text color */
            margin-bottom: 10px; /* Add some space between paragraphs */
        }

        .title {
            color: lightblue; /* Title color */
            font-family: "Gill Sans", sans-serif;
            margin-bottom: 5px; /* Add some space below the title */
            
        }

        
        
        
    </style>
</head>
<body>
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>Welcome to Amazon, where your shopping experience meets convenience and quality. Founded in 2024, we're a destination for curated products and exceptional service.</p>
        <p>Our journey began with a vision to redefine online shopping and offer a platform where customers can discover, explore, and indulge in a world of possibilities. Driven by a passion for excellence, we have cultivated a diverse collection of products sourced from trusted brands.</p>
        <p>At Amazon, we are passionate about providing you with the best online experience, right from the latest trends to the timeless classics. Our dedicated support team strives hard to create a user-friendly website and provide an enjoyable shopping and selling experience for our users.</p>
        <p>As we continue to grow, our commitment to innovation remains unwavering. We are constantly exploring new technologies and trends to enhance your shopping experience and stay ahead of the curve as new trends emerge.</p>
        <p>Thank you for choosing Amazon as your preferred destination for online shopping. We look forward to serving you and becoming a trusted partner on your journey towards discovering the extraordinary.</p>
    </div>

    <h2 style="text-align: center;">Our Team</h2>
    <div class="row">
        <div class="column">
            
            <div class="container">
                <h4>Ssebwana John Paul</h4>
                <p class="title">Founder</p>
                <p>ssebwanajohnpaul@gmail.com</p>
            </div>
        </div>
        <br><br>
        <div class="column">
            <div class="container">
                <h4>Kahunde Audrey</h4>
                <p class="title">Founder</p>
                <p>audreykahunde@gmail.com</p>
            </div>
        </div>
        <br><br>
        <div class="column">
            <div class="container">
                <h4>Rwothomio Jonathan</h4>
                <p class="title">Founder</p>
                <p>jonahbst@gmail.com</p>
            </div>
        </div>
        <br><br>
        <div class="column">
            <div class="container">
                <h4>Kavuma Hamza</h4>
                <p class="title">Founder</p>
                <p>kavumahamza22@gmail.com</p>
            </div>
        </div>
        <br><br>
    </div>
</body>
</html>
{% endblock content %}