{% extends 'main.html' %}
{% load static %}
{% block content %}

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
    <a class="btn btn-warning" href="{% url 'view' product.id%}">&#8592; Back</a>
    <br><br>
	<div class="row">
        <img src="{{seller_profile.profile_pic.url}}" class="user-profile-resized"><h2>{{ product.seller }}</h2>
	</div>
    <p><i>Email: {{ product.seller.email }}</i></p>
    <hr>
    <div class="box-element">
        <p><b>Contact:&emsp;</b>{{ seller_profile.contact }}</p>
        <p><b>Address:&emsp;</b>{{ seller_profile.address }}</p>
        <p><b>City:&emsp;&emsp;&emsp;</b>{{ seller_profile.city }}</p>
        <p><b>Street:&emsp;&emsp;</b>{{ seller_profile.street }}</p>
    </div>
    <br><br>
{% if seller_profile.file1 %}
<div class ="box-element">
    
    <p><b>Videos: </b></p>
    <video width="320" height="240" controls>
        <source src="{{ seller_profile.file1.url }}" type="video/mp4">
    Your browser does not support the video tag.
    </video>

{% if seller_profile.file2 %}
    <video width="320" height="240" controls>
        <source src="{{ seller_profile.file2.url }}" type="video/mp4">
    Your browser does not support the video tag.
    </video>
{% endif %}
{% if seller_profile.file3 %}
    <video width="320" height="240" controls>
        <source src="{{ seller_profile.file3.url }}" type="video/mp4">
    Your browser does not support the video tag.
    </video>
{% endif %}
{% endif %}
</div>

 
  
    <br><br><br><br><br><br>
{% endblock content %}