{% extends 'main.html' %}
{% load static %}
{% block content %}

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<section id="hero" >
	<video  autoplay muted loop class="bg_vid" src="{% static "img/bg_vid.mp4" %}" type="video/mp4"></video>
	<h1>Welcome To Amazon</h1>
	<br/>
	<h3>Your Biggest Website Platform</h3>
</section>



    </ul>
<br><br><br>
    <form class="d-flex" method="POST">
	  {% csrf_token %}
      <input class = "form-control me-2" type="search" placeholder="Search products" aria-label="Search" name="searched">
      <button class="btn btn-outline-secondary" type="submit"> Search</button>
    </form>
<br><br><br>


	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				
				<a class="btn btn-outline-success" href="{%url 'view' product.id%}">View</a>  
				<h4 style="display: inline-block; float: right; font-size: 18px;"><strong>Shs {{product.price}}</strong></h4>

			</div>
		</div>
		{% endfor %}
	</div>
	<br><br><br>
{% endblock content %}