{% extends 'main.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
    <title>Amazon | Login</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

</head>
<body>
    <br><br>
    <div class="container1" id="container">
        <div class="form-container1 sign-up">
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <h1>Create Account</h1>
                <span>Enter your personal Details</span>
                <input type="text" placeholder="Name" name="reg_username">
                <input type="email" placeholder="Email" name="email">
                <input type="password" placeholder="Password" name="password1">
                <input type="password" placeholder="Confirm Password" name="password2">
                <div>
                    
                    <label for="acctype"><h5>Account Type:</h5></label>
                    <select id="acctype" name="acctype" class="custom-select">
                      <option value="Customer">Customer</option>
                      <option value="Business">Business</option>
                    </select>
                </div><br>            
                <button>CREATE</button>
            </form>
        </div>
        <div class="form-container1 sign-in">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <h1>Login</h1><br><br>
                <div><input type="text" placeholder="Username or email" name="username"></div>
                <div><input type="password" placeholder="Password" name="password"></div><br><br>
                <button type="submit" id="login">Login</button>
            </form>
        </div>
        <div class="toggle-container1">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h2>Already have an account?</h2>
                    <p></p>
                    <button class="hidden1" id="login_toggler">Login</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h2>Don't have an account yet?</h2>
                    <p>Register with your personal details to shop with us</p>
                    <button class="hidden1" id="register">CREATE ACCOUNT</button>
                </div>
            </div>
        </div>
    </div><br><br>

    <script>
        const container = document.getElementById('container');
        const registerBtn = document.getElementById('register');
        const loginBtn = document.getElementById('login_toggler');

        registerBtn.addEventListener('click', () => {
            container.classList.add("active");
        });

        loginBtn.addEventListener('click', () => {
            container.classList.remove("active");
        });
    </script>
</body>
</html>
{% endblock content %}