{% comment %} # this code block dynamically generates alert messages using Django template syntax, applies styling using Bootstrap classes, 
#and adds behavior using jQuery to hide the alert messages after 5 seconds. {% endcomment %}
<style>
    .message-top-margin {
      margin-top: 0px;
      margin-bottom: 0px;
    }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function(){
            setTimeout(function(){
                $(".message-top-margin").hide();
            }, 5000);
        });
    </script>
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show {% for tag in message.tags %}{{ tag }} {% endfor %} message-top-margin" role="alert">
        <strong>{{ message.tags }}!</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}