<!-- This block checks if there are any user products available.
If there are, it iterates through each product using a for loop and displays the products for the user
otherwise, it displays a message indicating that the user has no products for sale. -->

{% extends 'main.html' %}
{% load static %}
{% block content %}

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
	<div class="row">
        <a class="btn btn-warning" href="{% url 'home' %}">&#8592; Back</a>
    {% if user_products %}
		{% for product in user_products %}
            <div class="col-lg-4">
                <img class="thumbnail" src="{{product.imageURL}}">
                <div class="box-element product">
                    <h6><strong>{{product.name}}</strong></h6>
                    <hr>
                    <form action="{% url 'delete_product' product.id %}" method="POST">
                        {% csrf_token %}   
                    <button type="submit" class="btn btn-danger" >Delete Product</button>
                    </form><br>
                    <a class="btn btn-outline-success" href="#">View</a>
                    <h4 style=" float: right; font-size: 20px;"><strong>Shs {{product.price}}</strong></h4>

                </div>
            </div>
		{% endfor %}
    {% else %}
    <div class="col-lg-12"><p><h4>You have no Products on Sale</h4></p></div>
    {% endif %}
	</div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}