{% extends 'main.html' %}
{% block content %}
<div class="row">
  <div class="col-md-3">
    <a class="btn btn-warning" href="{% url 'home' %}">&#8592; Back</a>
    <hr>
    <h3 style="text-align: center"><span>Settings</span></h3>
    <hr>
    <img src="{{request.user.profile.profile_pic.url}}" class="user-profile-resized"><h2>{{user.username}}</h2>
  </div>
</div>
<button class="btn btn-secondary"><a href="{% url 'update_password' %}"> Update Password</a></button>
    <br><br><br><br><br><br><br><br>

{% endblock %}