{% extends 'main.html' %}
{% block content %}
<div class="row">
  <div class="col-md-3">
    <a class="btn btn-warning" href="{% url 'home' %}">&#8592; Back</a>
    <hr>
    <h3 style="text-align: center"><span>Update Profile</span></h3>
    <hr>
    <img src="{{request.user.profile.profile_pic.url}}" class="user-profile-resized"><h2>{{user.username}}</h2>
  </div>
</div>
<form method="post" enctype="multipart/form-data" action="{% url 'update_info' %}"><br><br>
    {% csrf_token %}
    {{ form.as_p}}
    <br>
    {% if user.is_staff %}
    <p><b><i>You can also upload upto 3 videos to showcase your products below:</i></b></p>
    <input type="file" name="files" accept=".mkv, .mov, .webm, .mp4" multiple>
    <input type="checkbox" name="delete" >
    <label name="videos_to_delete">Delete videos</label>
    {% endif %}
    <br><br>
    
    <!--display current uploaded videos-->
    {% if request.user.profile.file1 %}
    <div class ="box-element">
        
        <p><b>Current Video(s): </b></p>
        <video width="320" height="240" controls>
            <source src="{{ request.user.profile.file1.url }}" type="video/mp4">
        Your browser does not support the video tag.
        </video>
    
      {% if request.user.profile.file2 %}
          <video width="320" height="240" controls>
              <source src="{{ request.user.profile.file2.url }}" type="video/mp4">
          Your browser does not support the video tag.
          </video>
      {% endif %}
      {% if request.user.profile.file3 %}
          <video width="320" height="240" controls>
              <source src="{{ request.user.profile.file3.url }}" type="video/mp4">
          Your browser does not support the video tag.
          </video>
        
      {% endif %}
    </div>
    {% endif %}

  <br><br>
  <button type="submit" class="btn btn-primary">Update</button>
  <br><br>

  </form>
  
<br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}

<!--this code creates a structured layout for updating a user's profile information including the user's profile picture. 
The form allows users to input new information and submit it for updating. 
if the user is a staff(bbusiness), he can also add videos to showcase their products-->