{% extends 'main.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon</title>
</head>
<body>
  <!-- button to go back to homepage-->
  <a class="btn btn-warning" href="{% url 'home' %}">&#8592; Back</a>
    <h1>{{ product.name }}</h1>
    <!-- display of the image of the product nd description -->
    <div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
        <p><a style="float: right;" href="{% url 'business_profile' product.id%}"><i>by {{product.seller}}</i></p></a>
        <br>
				<hr>
        
      <!--product description-->
        <h4>Description:</h4>
        {% if product.description == None%}
        <p>There's no description for this product</p>        
        {% else %}
        <p>{{ product.description }}</p>
        {% endif %}
        
      <!--choose the quantity-->
        <h4>Quantity</h4>
        <input type="number" class="form-control small-input" id="quantity" name="quantity" min="1" value="1"><br>
        <style>.small-input {width: 60px; padding: .375rem .5rem; font-size: 0.875rem;}</style>

				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				<h4 style="float: right; font-size: 18px;" id="totalprice" value="{{product.price}}"><strong>Shs {{product.price}}</strong></h4>
<br><br>
        
<p>Average Rating: {{ product.average_rating }}</p>
<p>Total Ratings: {{ product.total_ratings }}</p>

<h4>Reviews</h4>
<ul>
  {% for review in reviews %}
  <li>
    <p>{{ review.comment }}</p>
    <p>Rating: {{ review.rate }}</p>
    <p>By: {{ review.user.username }}</p>
  </li>
  {% endfor %}
</ul>

<!--Add review-->
<form method="post">
  {% csrf_token %}
  <input class = "form-control me-2" type="text" placeholder="Add your review" style = "length: 100%;">
  {{ review_form.as_p }}
  <br><br>
  <button type="submit">Submit Review</button>
</form>

			</div>
		</div>
<br><br><br>
</body>
</html>

{% endblock %}